.StandButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5vh;
    padding: 5px;
    border-radius: 8px;
    background-color: yellow;
    color: black;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}
